.imagecontainer{
   width: 260px;
   height: 440px;
   /* padding: 75px; */
   
 }
 h1{
   cursor:pointer;
 }
 .LoginContainer{
   display: flex;
   /* justify-content: space-evenly */
 }
 .loginMain{
   display: flex;
   flex-direction: column;
 }
 .form{
   width: 200px;
   height: 250px;
   padding: 15px;
   text-align: center;
   border: 1px solid gray;
   margin:5px;
 }
 .formContent{
   display: flex;
   flex-direction: column;
 }
 .loginButton{
   margin:4px;
  width:152px;
   background-color:#1499f7;
  cursor: pointer;
  border-radius: 5px;
}
.hor{width:70px;
  margin-top:25px;
  height:1px;
  background-color:black}
a{
  text-decoration: none;
}
  .dha{
    border: 2;
    font-size: small;
    padding: 15px;
   text-align: center;
   border: 1px solid gray;
   margin:5px;
   
  }
  .ftop1{
    margin-left: 3px;
    margin-left: 35%;
    padding: 2px;
    align-content: center;
    display: flex;
    text-align: center;
    color: cadetblue;
  }
  .ftop2{
    margin: 3px;
    margin-left: 45%;
    align-content: center;
    display: flex;
    text-align: center;
    color: cadetblue;
    
    /* justify-content: space-evenly; */
  }
   li{
    list-style-type: none;
    cursor:pointer;
  }