.register-card {
  max-width: 350px;
  background-color: $white-color;
  text-align: center;
  @include mainBorder();
  padding: 2rem 2rem;

  & > img {
    margin-top: 1rem;
  }
}

.register-card-login {
  padding: 1.2rem 2rem;
  background-color: $white-color;
  font-size: 14px;
  text-align: center;
  @include mainBorder();
  margin-top: 1rem;
  & > p {
    display: inline;
    color: #262626;
  }
}
