.input-box {
  position: relative;
  margin: 0 40px 6px;
  display: block;
  & > input {
    background-color: $base-light-color;
    padding: 9px 0 7px 8px;
    width: 100%;
    border: 1px solid $light-gray-color;
    color: $dark-color;
    border-radius: 3px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    &:focus {
      outline: none;
      border-color: $dark-gray-color;
    }
  }
  & > input::placeholder {
    font-size: 12px;
  }
}
