.tags {
  max-width: 100%;
  div {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
  }
  h6 {
    font-weight: 500;
    font-size: 13px;
    padding: 0.3rem;
    font-size: 12px;
    color: #8e8e8e;
  }
}

.flex-tags {
  max-width: 850px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  & > h6 {
    font-size: 13px;
    color: #8e8e8e;
    font-weight: 500;
  }
}
