$color-blue: #0095f6;
$light-gray-color: rgba(var(--ca6, 219, 219, 219), 1);
$dark-gray-color: #a9a9a9;
$medium-gray-color: #a9a9a9;
$base-light-color: #f8f8f8;
$dark-color: #000000;
$white-color: #ffffff;
$medium-black: #585858;
$link-color: #00376b;
$base-dark-color: gba(var(--i1d, 38, 38, 38), 1);
